.padding-left{
    margin-left: 5px;
}

.centralizar{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    float: left;
}
.central{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    float: right;
 
}

@media screen and (max-width: 600px) {
    
}