<div>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a mat-button class="companyName" routerLink="/">
            <a routerLink="/car">
                <img class="logo" src="/assets/img/kavak_logo.png" alt="Logo">
            </a>
        </a>
        <span class="example-spacer"></span>
        <div fxShow="true" fxHide.lt-md="true">
            <a mat-button routerLink="/admin/create" style=" border: 2px dashed rgb(8, 8, 8)" *ngIf="online()">Criar Anuncio</a>
            <a mat-button routerLink="/admin/brand" style=" border: 2px dashed rgb(8, 8, 8)" *ngIf="online()">Criar Marca e Modelo</a>
            <a mat-button routerLink="/car">Comprar Carro</a>
            <a mat-button routerLink="/about">Sobre nós</a>
            <a mat-button routerLink="/login" *ngIf="!online()">
                <mat-icon>person</mat-icon>Minha Conta
            </a>
            <a mat-button routerLink="/admin" *ngIf="online()">
                <mat-icon>person</mat-icon>Area de Administração
            </a>
            <button class="alert-danger deslogar" style="margin-left: 10px;" (click)="deslogar()" *ngIf="online()">Deslogar</button>
        </div>

    </mat-toolbar>

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="true" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button routerLink="/admin/create" style=" border: 1px dashed rgb(8, 8, 8)" *ngIf="online()">Criar Anuncio</a>
            <a mat-button routerLink="/admin/brand" style=" border: 1px dashed rgb(8, 8, 8)" *ngIf="online()">Criar Marca e Modelo</a>
            <a mat-button routerLink="/car">Comprar Carro</a>
            <a mat-button routerLink="/about">Sobre nós</a>
            <a mat-button routerLink="/login" *ngIf="!online()"><mat-icon>person</mat-icon>Minha Conta</a>
            <a mat-button routerLink="/admin" *ngIf="online()">
                <mat-icon>person</mat-icon>Área de Administração <button class="alert-danger"
                    style="margin: 10px; border-radius: 20px;" (click)="deslogar()">Deslogar</button>
            </a>
        </div>
    </mat-sidenav>
</div>