<mat-toolbar class="header">

    <span>
        <a routerLink="/car">
            <img class="logo" src="/assets/img/kavak-logo.png" alt="Logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/car">
            <mat-icon> directions_car</mat-icon>
            <i class="diminuir">Comprar Carro</i>
        </a>
    </span>

    <span class="title-group">
        <a routerLink="/car">
            <mat-icon> attach_money</mat-icon>
            <i class="diminuir">Vender Carro</i>
        </a>
    </span>
    
    <span class="title-group">
        <a routerLink="/car">
            <mat-icon>keyboard_arrow_down</mat-icon>
            <i class="diminuir">Sobre nós</i>
        </a>
    </span>

    <span class="title-group ">
        <a routerLink="/login">
            <mat-icon>person</mat-icon>
            <i class="diminuir">Minha Conta</i>
        </a>
    </span>

</mat-toolbar>
