.header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(90, 86, 86, 0.335);
    box-shadow: 0px 3px 3px rgba(70, 190, 194, 0.438);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
i{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}
.header .logo {
    height: 200px;
}

.header .title-group{
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 15px;
}
.header .title-group i{
    padding-right: 5px;
}

@media (max-width: 600px){
    .header > .visibleMobile{
        padding-top: 20px;
        padding-left : 20px;
        width: 90px;
    }

    .mobileForm{
     display: inline;
     font-size: 0.8rem;

    }

     i{
         font-weight: 800;
        font-size: 25px;
    }
}

@media (min-width: 601px){
    .visibleMobile{
       display: none;
    }
}

