.side{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 5px;
}
.example-card {
   margin-left: 50px;
   margin-bottom: 50px;;
   
  }
.example-card:hover{
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(70, 190, 194, 0.438);
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;

}
  
  .example-header-image {
    background-size: cover;
  }

  .image{
    width: 540px;
    height: 310px;
  }