<div class="side">
  <mat-card class="example-card"
    *ngFor="let carro of cars  | paginate:{ itemsPerPage:15, currentPage: p, totalItems : total }" (click)="open(carro.photo, carro.name)">
    <div id="container">
      <img mat-card-image src="{{carro.photo}}" alt="Car" class="image">
      <p *ngIf="carro.reserved" style="font-weight: 600; float:right; border: 2px dashed rgb(233, 8, 8); padding: 10px; background-color: white;">CARRO RESERVADO</p>
    </div>

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="name-center">{{carro.brand.name}} {{carro.model.name}} {{carro.name}}</mat-card-title>
      <mat-card-subtitle>Modelo: {{carro.model.name}} | Marca: {{carro.brand.name}} | Ano: {{carro.ageCar}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <h1 style="font-weight: 500;">{{carro.price | currency : 'BRL'}}</h1>
      <h4>KM: {{carro.km}}</h4> 
      <h4>Tipo de Carro : {{carro.carType}}</h4>
      <h4>Cor : {{carro.carColor}}</h4>
      <h4>Transmissão : {{carro.carTransmission}}</h4>
      <h4>Combustível : {{carro.carFuel}}</h4>
    </mat-card-content>
    <mat-card-actions>
      <p *ngIf="carro.ipva" style="font-weight: 600; float:right; border: 2px dashed rgb(103, 223, 223); padding: 10px">IPVA PAGO</p>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <pagination-controls (pageChange)="carregarPagina(p = $event)" class="pagination-css"></pagination-controls>
</div>

<mat-toolbar class="footer">
  <span class="purple v-middle">
      Desenvolvido por <i class="material-icons purple v-middle"> copyright</i> <strong>Breno DevRev</strong>
  </span>
</mat-toolbar>