.side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.example-card {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.name-center{
  text-align: center;
}

.image{
  width: 540;
  height: 310px;
}

.pagination-css{
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
}

.example-card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(70, 190, 194, 0.438);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .example-card {

    margin-left: 0px;
  }
}
  
