.side {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

.example-card {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
  width: 480px;
  height: 714px;
}
.name-center{
  text-align: center;
}

.image{
  width: 480px;
  height: 310px;
}

.pagination-css{
  margin: auto;
  text-align: center;
  font-size: 1.3rem;
}

.example-card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(70, 190, 194, 0.438);
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

#container {
  display: inline-block;
  position: relative;
}

#container p {
  position: absolute;
  top: 145px;
  right: 130px;
  font-size: 20px;
  color: black;
}

.footer {
  display: block;
  box-shadow: 0px -3px 3px rgba(70, 190, 194, 0.438);
  height: 64px;
}

#ipva{
  font-weight: 600; 
    color:white;
   float:right;
    border: 2px solid rgb(126, 141, 228); 
    padding: 10px; 
    background-color: rgb(46, 35, 211);
}

#reservado{
  font-weight: 600; 
  float:right; 
  border: 2px solid rgb(126, 141, 228); 
  padding: 10px; 
  background-color: rgb(255, 255, 255);
}

.footer span {
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .example-card {
    margin-left: 0px;
  }
  .image{
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
  }
}
  
