<div class="general">
<form class="addicional" #formValidate="ngForm" fxLayout="row" >
  
   <div class="card text-center">
       <div class="card-header">
           Modelos da Marca
       </div>
       <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control" [(ngModel)]="nameModel" name="nameModel">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary" (click)="addModel()"> Adicionar </button>
            </div>
             <div class="form-group col-md-12">
                <button class="btn btn-primary btn-sm" (click)="salvarModelo()" [disabled]="formValidate.invalid">Finalizar</button>
                <button [routerLink]="['/admin']" class="btn btn-warning btn-sm" style="margin-left:10px"> Voltar</button>
                </div>
        </div>   
       </div>
   </div>

  <table class="table">
    <tbody>
        <tr *ngFor="let model of modelos">
            <td>{{model.name!}}</td>
            <td><button class="btn btn-danger" (click)="openModal(template, model.name!)"> Remover</button></td>
        </tr>
    </tbody>
  </table>
</form>

</div>

<mat-toolbar class="footer">
    <span class="purple v-middle">
        Desenvolvido por <i class="material-icons purple v-middle"> copyright</i> <strong>Breno DevRev</strong>
    </span>
  </mat-toolbar>
  
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" style="font-size:20px; margin: auto">DESEJA PROSSEGUIR ?</h4>
  
    </div>
    <div class="modal-body">
      <button type="button" class="btn-close close pull-left" style="float:left" (click)="deletarModelo()">Confirmar</button>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        Cancelar <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
  </ng-template>

