.padding-top{
    margin-top: 20px;
    font-size: 1rem; 
}

.botoes{
    margin-left: 30px;
}   

input[type="checkbox"]{
    width: 100px;
    margin-left: 50px;
}

#left{
    margin-left: 20px;
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -3px 3px rgba(70, 190, 194, 0.438);
    height: 64px;
    justify-content: flex-end;
}

.footer span {
    font-size: 1.2rem;
    font-weight: 500;
}