<div class="side">
<mat-card class="example-card" (click)="alerta()">
    <img mat-card-image src="https://images.kavak.services/images/157219/EXTERIOR-frontSidePilotNear-1641374016396.jpeg?d=540x310" alt="Car">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ford Ka TI-VCT SE SEDAN</mat-card-title>
      <mat-card-subtitle>2020 - 24.017 km - São Paulo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        INFOS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" (click)="alerta()">
    <img mat-card-image src="https://images.kavak.services/images/157219/EXTERIOR-frontSidePilotNear-1641374016396.jpeg?d=540x310" alt="Car">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ford Ka TI-VCT SE SEDAN</mat-card-title>
      <mat-card-subtitle>2020 - 24.017 km - São Paulo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        INFOS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" (click)="alerta()">
    <img mat-card-image src="https://images.kavak.services/images/157219/EXTERIOR-frontSidePilotNear-1641374016396.jpeg?d=540x310" alt="Car">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ford Ka TI-VCT SE SEDAN</mat-card-title>
      <mat-card-subtitle>2020 - 24.017 km - São Paulo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        INFOS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" (click)="alerta()">
    <img mat-card-image src="https://images.kavak.services/images/157219/EXTERIOR-frontSidePilotNear-1641374016396.jpeg?d=540x310" alt="Car">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ford Ka TI-VCT SE SEDAN</mat-card-title>
      <mat-card-subtitle>2020 - 24.017 km - São Paulo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        INFOS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" (click)="alerta()">
    <img mat-card-image src="https://images.kavak.services/images/157219/EXTERIOR-frontSidePilotNear-1641374016396.jpeg?d=540x310" alt="Car">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ford Ka TI-VCT SE SEDAN</mat-card-title>
      <mat-card-subtitle>2020 - 24.017 km - São Paulo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        INFOS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" (click)="alerta()">
    <img mat-card-image src="https://images.kavak.services/images/157219/EXTERIOR-frontSidePilotNear-1641374016396.jpeg?d=540x310" alt="Car">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ford Ka TI-VCT SE SEDAN</mat-card-title>
      <mat-card-subtitle>2020 - 24.017 km - São Paulo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        INFOS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" (click)="alerta()">
    <img mat-card-image src="https://images.kavak.services/images/157219/EXTERIOR-frontSidePilotNear-1641374016396.jpeg?d=540x310" alt="Car">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Ford Ka TI-VCT SE SEDAN</mat-card-title>
      <mat-card-subtitle>2020 - 24.017 km - São Paulo</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        INFOS
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>