<div class="mat-elevation-z4">
  <table class="table" mat-table [dataSource]="cars | paginate:{ itemsPerPage:15, currentPage: p, totalItems : total }">
    <!-- Id Column -->
    <ng-container matColumnDef="id" id="mobile">
      <th mat-header-cell *matHeaderCellDef class="font-tamanho">ID</th>
      <td mat-cell *matCellDef="let row" class="font-tamanho">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="font-tamanho">Nome</th>
      <td mat-cell *matCellDef="let row" class="font-tamanho">{{row.name}}</td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="font-tamanho">Preço</th>
      <td mat-cell *matCellDef="let row" class="font-tamanho">R${{row.price}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/admin/update/{{row.id}}">
          <i class="material-icons edit">edit</i>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button class="delete" (click)="delete(row.id)"><i class="material-icons edit">delete</i></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div>
  <br>
  <pagination-controls (pageChange)="carregarPagina(p = $event)" class="pagination-css"></pagination-controls>
</div>