.pagination-css{
    margin: auto;
    text-align: center;
    font-size: 1.3rem;
  }

  .delete:hover{
    background-color: aqua;
  }
  
  .table{
    margin:auto;
    width: 900px;
  }
  
  .mobile{
    display: none;
  }

  .footer {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -3px 3px rgba(70, 190, 194, 0.438);
    height: 50px;
    justify-content: flex-end;
}

.footer span {
    font-size: 1.2rem;
    font-weight: 500;
}

@media screen and (max-width: 960px) {

  .table{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.2rem; 
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .font-tamanho{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.2rem;
  }

  .mobile{
    display: block;
  }

  .desktop{
    display: none;
  }

}