.padding-left {
    margin-left: 5px;
}

.centralizar {
    margin-top: 20px;
    display: flex;
    flex-grow: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}